{% extends "base.html" %}
{% load static %}
{% block title %}{{tag.tag_slug}} | Dungship{% endblock %}

{% block content %}
<style>
    .col-md-3 {
        transition: all .2s ease-in-out;
    }

    .col-md-3:hover {
        transform: scale(1.04);
    }
</style>
<section id="projects">

    <div class="container-fluid">
        <h1 class="tag mb-5" style="
        margin-right: .5rem;
        padding: .5rem 1rem .625rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        text-transform: uppercase;color: {{tag.tag_text_color}}!important;
        background-color: {{tag.tag_background_color}}!important; ">{{tag.tag_slug}}</h1>
        <div class="row">
            {% for i in tag_course %}

            <div class="col-md-3 mb-4" onclick="location.href='{% url 'course_page' i.course_slug%}'" style="cursor: pointer;">
                <div class="outer-most">
                    <img {% if i.course_image %} src="{{i.course_image.url}}" {% else %} src="{% static 'assets/default-cover.webp' %}" {% endif %} width="100%" alt="Project 3" class="course-img" style="border-radius: 12px 12px 0 0;" />
                    <h2 class="experience-sub-title project-title" style="text-align: center;">{{i.course_title}}</h2>
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for tag in i.course_tags.all %}
                        <span class="tag" style="color: {{tag.tag_text_color}}!important;
                background-color: {{tag.tag_background_color}}!important;">#{{tag}}</span>
                        {% endfor %}


                    </div>
                </div>

            </div>
            {% endfor %}


            {% for i in tag_lab %}

            <div class="col-md-3 mb-4" onclick="location.href='{% url 'lab_page' i.lab_slug%}'" style="cursor: pointer;">
                <div class="outer-most">
                    <img {% if i.lab_image %} src="{{i.lab_image.url}}" {% else %} src="{% static 'assets/default-cover.webp' %}" {% endif %} width="100%" alt="Project 3" class="course-img" style="border-radius: 12px 12px 0 0;" />
                    <h2 class="experience-sub-title project-title" style="text-align: center;">{{i.lab_title}}</h2>
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for tag in i.lab_tags.all %}
                        <span class="tag" style="color: {{tag.tag_text_color}}!important;
                background-color: {{tag.tag_background_color}}!important;">#{{tag}}</span>
                        {% endfor %}


                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
</section>





<link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap-grid.min.css' %}">
<script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}